.flex {
    display: flex;
    gap: 50px;
}

main {
    max-width: 1400px;
    width: 100%;
    margin: 0 auto;
}

.img-container {
    width: 400px;
    border-radius: 50%;
    overflow: hidden;
}

.img-container img {
    width: 100%;
}

.txt-container {
    color: var(--font-color);
    display: flex;
    flex-direction: column;
}

.txt-container h2 {
    font-size: 50px;
}

.txt-container p {
    font-size: 25px;
}